In [15]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [16]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp38-cp38-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 26.4 MB/s eta 0:00:01    |██████▌                         | 5.2 MB 26.4 MB/s eta 0:00:01     |█████████████████████▏          | 16.8 MB 26.4 MB/s eta 0:00:01
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 67.7 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.30 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [15]:
mydb = mysql.connector.connect(
 host="localhost",
    user="root",
    password="passNew@@123",
    database="finalDb"
)

print (mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f5700418ac0>

In [16]:
myCursor = mydb.cursor()

In [6]:
myCursor.execute("create database finalDb")

In [7]:
#TODO: get the name of the database that you want to create from the user
newDbNameInp = input("Enter new db name: ")

a = myCursor.execute("create database " + newDbNameInp )

print(a)

Enter new db name:  thirdDb

None

In [8]:
myCursor.execute("show databases")

In [10]:
for x in myCursor:
    print(x)

('finalDb',)
('first_database',)
('information_schema',)
('mysql',)
('northwind',)
('performance_schema',)
('sys',)
('thirdDb',)

In [17]:
myCursor.execute("create table customers ( id INT AUTO_INCREMENT PRIMARY KEY, name varchar(200), address varchar(200) ) ")

In [19]:
myCursor.execute("show tables")

for t in myCursor:
    print( t )

('customers',)

In [23]:
myCursor.execute( "insert into customers (name,address) values (%s, %s)" , ("Jane" ,"B54")   )

mydb.commit()

print( myCursor.rowcount )

1

In [25]:
#TODO: get input from user for name and address
inpName = input("Enter Name: ")
inpAddress  = input("Enter Address: ")

myCursor.execute(" insert into customers (name, address) values (%s,%s)" , ( inpName , inpAddress ) )

mydb.commit()

Enter Name:  Sarah
Enter Address:  T40